In [39]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
import pandas as pd

# URL

In [43]:
url = 'https://wuzzuf.net/search/jobs/?a=hpb&filters%5Bcity%5D%5B0%5D=Giza&q='

# Open, Read and Close URL

In [46]:
client = urlopen(url)
html = client.read()
client.close()

# Parser URL: Connection between url and soup

In [9]:
soup = bs(html, 'html.parser')

# Read Div

In [12]:
containers = soup.find_all('div', {'class': 'css-1gatmva e1v1l3u10'})

In [14]:
len(containers)

15

# Get Data

In [20]:
jtitle = containers[0].findAll('h2', {'class': 'css-m604qf'})
jtitle[0].text

'Call Center Agent.'

In [24]:
companyTitle = containers[0].findAll('a', {'class': 'css-17s97q8'})
companyTitle[0].text

'Raya Customer Experience -'

In [26]:
jType = containers[0].findAll('span', {'class': 'css-1ve4b75 eoyjyou0'})
jType[0].text

'Full Time'

# Create File CSV

In [37]:
file = open('web_scrapping_wuzzaf.csv', "w")
header = "job_title, company_name, job_type\n"
file.write(header)

34

# Get All Data in Page

In [38]:
for container in containers:
    
    jtitle = container.findAll('h2', {'class': 'css-m604qf'})
    job_title = jtitle[0].text.strip()
    
    companyTitle = container.findAll('a', {'class': 'css-17s97q8'})
    company_name = companyTitle[0].text.strip()

    jType = container.findAll('span', {'class': 'css-1ve4b75 eoyjyou0'})
    job_type = jType[0].text.strip()
    
    file.write(job_title + "," + company_name + "," + job_type  + "\n")
file.close()

In [40]:
df = pd.read_csv('web_scrapping_wuzzaf.csv')
df

,job_title,company_name,job_type
0,Call Center Agent.,Raya Customer Experience -,Full Time
1,Senior Oracle Developer,Confidential -,Full Time
2,Call Center Advisor - Vodafone Ireland (Work F...,_VOIS Egypt -,Full Time
3,Warehouse Executive,Just HR -,Full Time
4,Social Media Moderator,English Zone -,Full Time
5,Senior Sales & Marketing Manager,FlexFilms Egypt -,Full Time
6,Sr. Scaffolding Engineer/ Section Head,DME Holding -,Full Time
7,Site Team leader,Confidential -,Full Time
8,Planning Engineer,PCE -,Full Time
9,Power Quality Engineer,Biobusiness -,Full Time
10,Hardware Team Leader Engineer,Biobusiness -,Full Time
11,Project Manager - Technology Sector (Governmen...,E-tax -,Full Time
12,Senior Mechanical Engineer,Zamil Steel Buildings Co -,Full Time
13,Food Safety Consultant (Posted 11 Sep 22),Abt Associates -,Part Time
14,Warehouse Supervisor - Construction,TRAVCO GROUP -,Full Time

# Get Data For All Pages

In [104]:
datas = []
for page in range(11):
    url = f'https://wuzzuf.net/search/jobs/?a=hpb&filters%5Bcity%5D%5B0%5D=Giza&q=&start={page}'
    
    client = urlopen(url)
    html = client.read()
    client.close()

    soup = bs(html, 'html.parser')
    containers = soup.find_all('div', {'class': 'css-1gatmva e1v1l3u10'})

    for container in containers:
        
        jtitle = container.findAll('h2', {'class': 'css-m604qf'})
        job_title = jtitle[0].text.strip()

        companyTitle = container.findAll('a', {'class': 'css-17s97q8'})
        company_name = companyTitle[0].text.strip()
      
        jType = container.findAll('span', {'class': 'css-1ve4b75 eoyjyou0'})
        job_type = jType[0].text.strip()

        data_dic = {'job_title':job_title, 'company_name':company_name, 'job_type':job_type}
        datas.append(data_dic)
        
df = pd.DataFrame(datas)

In [107]:
df

,job_title,company_name,job_type
0,Call Center Agent.,Raya Customer Experience -,Full Time
1,Senior Oracle Developer,Confidential -,Full Time
2,Call Center Advisor - Vodafone Ireland (Work F...,_VOIS Egypt -,Full Time
3,Warehouse Executive,Just HR -,Full Time
4,Social Media Moderator,English Zone -,Full Time
...,...,...,...
160,Purchasing Specialist,Egyptian Contracting Centre -,Full Time
161,Accounts Payable Accountant,Concrete For Readymade Garments -,Full Time
162,HTML Developer,Elev8Assessments -,Full Time
163,Treasurer,Confidential -,Full Time
164,Project Engineer MEP,EMECO for Engineering Industries and Supplies -,Full Time